EEC2311_Project_TABTOXML/musicxml-3.1/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xlink" xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:import schemaLocation="musicxml.xsd.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:attribute name="actuate" type="xs:NCName"/>
    <xs:attribute name="href" type="xs:anyURI"/>
    <xs:attribute name="role" type="xs:NCName"/>
    <xs:attribute name="show" type="xs:NCName"/>
    <xs:attribute name="title" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
</xs:schema>
